<div class="space-container">
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="content">
    <h1 class="glitch" data-text="TIC-TAC-TOE">TIC-TAC-TOE</h1>
    <div class="cube-container">
      <div class="cube">
        <div class="face front">X</div>
        <div class="face back">O</div>
        <div class="face right">X</div>
        <div class="face left">O</div>
        <div class="face top">X</div>
        <div class="face bottom">O</div>
      </div>
    </div>
    <div class="button-container">
      <button (click)="navigateToLogin()" class="neon-button">INICIAR SESIÓN</button>
      <button (click)="navigateToRegister()" class="neon-button">REGISTRARSE</button>
    </div>
  </div>
</div>